alembic
annotated-doc
annotated-types
anyio
arrow
asyncpg
bcrypt
binaryornot
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
dnspython
ecdsa
email-validator
et_xmlfile
fastapi
flet
flet-cli
flet-core
flet-desktop
flet-runtime
greenlet
h11
httpcore
httptools
httpx
idna
Jinja2
Mako
markdown-it-py
MarkupSafe
mdurl
msgpack
oauthlib
openpyxl
packaging
passlib
psycopg2-binary
pyasn1
pydantic
pydantic-settings
pydantic_core
Pygments
pypng
python-dateutil
python-dotenv
python-jose
python-multipart
python-slugify
PyYAML
qrcode
repath
requests
rich
rsa
six
SQLAlchemy
starlette
text-unidecode
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchdog
watchfiles
websockets
